/* stylelint-disable */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable */

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-50;
}

button {
  @apply transition-all duration-200;
}

input, select, textarea {
  @apply transition-all duration-200;
}
